.more-items {
  width: 224px;
}

.search-title {
  font-size: 1.6rem;
  color: rgba($color: #161823, $alpha: 0.5);
  padding: 5px 12px;
}

.menu-items {
  width: 100%;
  background-color: transparent;
  font-size: 1.4rem;

  &:first-of-type {
    color: #161823;
  }

  &:hover {
    background-color: #f1eaea;
  }
}

.custom-padding {
  padding-bottom: 8px;
}

.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
