@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary: #fe2c55;
$text: #333;
$headerHeight: 60px;
$Sidebar: 350px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Poppins', system-ui, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
a {
  text-decoration: none;
  color: $text;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-family: inherit;
}
